body{
    background-color: aqua;
    text-align: center;

}
#currentanswer{
    text-align: center


}
#checkbutton{
    text-align: center
}
#mainheading{
    font-family: 'Lato', sans-serif;
}





